.sortSelectH2 {
    margin-top: 80px;
}
.sortSelect {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    margin: 20px 20px 20px;
    transition-property: all;
    transition-duration: 0.3s;
}
.sortSelect:hover {
    transform: scale(1.02,1.02);
    transition-property: all;
    transition-duration: 0.3s;
}
.sortSelect p {
    margin-bottom: 4px;
}
.sortSelect select {
    width: 150px;
    padding-left: 20px;
    text-align: center;
    border-radius: 6px 6px;
    border: 0;
    height: 30px;
    background-color: #ffaa01;
    color: white;
    -webkit-appearance:none;margin-bottom: 20px;
}
.sortSelect:hover {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.sortSelect button{
    width: 150px;
    height: 30px;
    background-color: #00A2FF;
    color: white;
    font-weight: 400;
    border: 0;
    border-radius: 6px 6px;
    transition-property: all;
    transition-duration: 0.3s;
}

.sortSelect button:hover {
    background-color: rgb(108, 201, 255);
    transition-property: all;
    transition-duration: 0.3s;
}

@media (min-width: 500px) {
    .orderByDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .orderByDiv p, .orderByDiv select {
        margin: 0;
        margin-right: 5px;
    }
    .sortSelect {
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    }
    .locationButtonDiv {
        margin-left: auto;
        margin-right: 20px;
    }
}
