.sortSelectH2 {
    margin-top: 80px;
}
.sortSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    background-color: white;
    margin: 20px 10px 20px;
    transition-property: all;
    transition-duration: 0.3s;
}
.sortSelect:hover {
    transform: scale(1.02,1.02);
    transition-property: all;
    transition-duration: 0.3s;
}
.sortSelect p {
    margin-left: 20px;
}
.sortSelect select {
    margin-left: 20px;
    border-radius: 0;
    border: 0;
    width: 100px;
    height: 30px;
    background-color: #ffaa01;
    color: white;
}
.sortSelect:hover {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}