.StarRatingDiv {
    padding-left: 20px;
}
.ratingDiv .StarRatingDiv{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: auto;
    margin-right: 20px;
}
.StarRatingDiv .checked {
    color: #ffaa01;
}